# App (Streamlit)
streamlit
pandas
numpy
sqlalchemy
scikit-learn
plotly
Pillow
gdown

# Notebook (EDA, estadística y obtención de datos externos)
jupyter
openpyxl
matplotlib
seaborn
scipy
yfinance
pytrends
kagglehub
